<div id="body">
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>Google for a Day</h1>
            </hgroup>
            <p>
                Google is a web site search engine.  It utilizes a "web crawler" to search web sites and break them down into searchable keywords.
            </p>
        </div>
    </section>
    <section class="content-wrapper main-content clear-fix">
        <h3>We suggest the following steps:</h3>
        <ol class="round">
            <li class="one">
                <h4><a href="~/Index">Inxdex</a></h4>
                The first step is to <b>"index"</b> a web page.  This process will first search all of the keywords on a given page.  
                From here it will utilize a patent pending <b>"web crawler"</b> to look for links to other web pages.  The process is then
                repeated for each of the pages found.
            </li>

            <li class="two">
                <h4><a href="~/Search">Search</a></h4>
                The second step is to run a search on the pages you have indexed.  Simply provide a <b>keyword</b> to search on and the system will 
                return a list of pages which match that keyword.  The pages are sorted by their <b>relevance</b> displaying the most relevant pages
                at the top.
            </li>
            <li class="three">
                <h4><a href="~/Statistics">Statistics</a></h4>
                This page will provide some statistics about the search engine.  This includes the <b>highest ranked pages</b> as well as the
                most common <b>words found</b> and <b>words searched</b>.
            </li>
        </ol>
    </section>
</div>
