<div id="body">
    <section class="content-wrapper main-content clear-fix">
        <div class="text-center"><h4>Web Page Statistics</h4></div>
        @Html.Partial("~/Views/Statistics/_Keywords.cshtml")
        @Html.Partial("~/Views/Statistics/_IndexedPages.cshtml")
        @Html.Partial("~/Views/Statistics/_IgnoredWords.cshtml")
    </section>
</div>