<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Google.SearchEngine.Properties.Settings.GoogleConnectionString"
            connectionString="Data Source=FREIDAY_LAPTOP\SQLEXPRESS;Initial Catalog=Google;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>